extends layout

block content
  h1= title
  div
    form(action='/todo/ajouter', method='post')
      label(for='newtodo') Que dois-je faire ?
      input(type='text', name='newtodo', id='newtodo')
      input(type='submit')
      ul
        each val, index in todolist
          li= index + ':' + val
          a(href='/todo/supprimer/'+index+'') Delete
